[submodule "very-util-json"]
	path = very-util-json
	url = git@git.oschina.net:mefaso/very-util-json.git
[submodule "very-util-lang"]
	path = very-util-lang
	url = git@git.oschina.net:mefaso/very-util-lang.git
[submodule "scala-redis-client"]
	path = scala-redis-client
	url = https://git.oschina.net/mefaso/scala-redis-client.git
